<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="sl50" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="sl50" />
  <package id="SilverlightToolkit-Testing" version="5.2011.12.1" targetFramework="sl50" />
</packages>